<hr>
<div class="productsHeader">
  <h1 class="listProduct">Lista de Productos</h1>
  <div class="productsHeader">
    <a href="./index.html" class="btnPrincipal">Home</a>
    <a href="/realtimeproducts" class="btnPrincipal">Cargar Producto</a>
  </div>

</div>
<hr>


<div class="productCard">
  {{#each products}}
  <div class="card" style="width: 300px;">
    <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" width="75" height="250">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text">Precio: $ <b>{{price}}</b></p>
      <p class="card-text">Stock: <b>{{stock}}</b></p>
    </div>
    <div class="card-body btnComprar">
      <button type="button" class="btn btn-info" id="{{id}}">Comprar</button>
    </div>
  </div>
  {{/each}}
</div>